#map {
    width: 100%;
    height:99vh;
}

.itemMarker {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: -10px;
    margin-left: -10px;
}

.infoPopup {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: -100px;
    margin-left: -50px;
}