#map {
    width: 100%;
    height:99vh;
}

.itemMarker {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: -10px;
    margin-left: -10px;
}

.infoPopup {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: -100px;
    margin-left: -50px;
}
#overlayPanel{
    width: 30%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-content: center;
}

#overlayPanel input{
    width: 100%;
}

#mapDivider{
    display: flex;
    flex-direction: row;
}

#searchbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#searchbar input{
    width: 80%;
}

#searchbar button{
    width: 20%;
}
